

.container{
    width: 100%;
    height: 100vh;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    /* position: relative; */
}

.triangle-container{
    width: 600px;
    height: 600px;
    background-color: #f4f4f4;

    position: relative;

}


.triangle-left,.triangle-right,.triangle-bottom,.triangle-bottom2{
    width: 10px;
    background-color: rgb(49, 46, 38);
    border-radius: 50px;

    position: absolute;
    top: 100px;


}

.triangle-left{
    height: 200px;

   left: 235px;
   transform: rotate(40deg);
}

.triangle-right{
    height: 200px;

    right: 235px;
    transform: rotate(-40deg);
}

.triangle-bottom{
    height: 150px;
    left: 295px;
    top: 140px;

    transform: rotate(90deg);
}

.triangle-bottom2{
    height: 245px;
    
    left: 295px;
    top: 150px;
    transform: rotate(90deg);
}


.ball{
    width: 15px;
    height: 15px;
    background-color: rgb(21, 229, 160);
    border: 1px solid #ddd;
    border-radius:50% ;

    filter: drop-shadow(2px 2px 2px  #ddd);

    position: absolute;
    left: 709px;
    /* left: 795px; */
    top: 275px;

    transition: all 2s;

    animation: ballonfirstfloor 3s linear infinite;

}

@keyframes ballonfirstfloor {
    0%{
     transform: rotate(1turn);
     
    }

    50%{
     left: 795px;

    }

  
}